{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Blaze{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
     {% comment %}<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">{% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
<style type="text/css">
  .nav-tabs li a {font-size:22px;}
  .list-group  {font-size:22px;}
  #methodModal{
      font-size: 20px;
  }
  .panel-heading{
      font-size: 20px;
  }
  .p{
   text-align: justify;
  text-justify: inter-word;
      font-size: 15px;
  }
  .card-header{
      color: white;
      font-size: 20px;
  }
  .card{
      height: 400px;
  }
  .ul{
     font-size: 15px;
  }
  .test_button{
      text-align: center;
  }
  #decision_description{
      font-size: 15px;
  }
  #personalityImage{
      text-align: center;
      font-size: 25px;
  }
  .modal-header{
      font-size: 20px;

  }
 #methodsButton{
     font-size: 20px;
 }

#personality_test {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
</style>
  </head>
<body>
<div class="col-6 text-right">
     {% if user.is_authenticated %}
     <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
     {% else %}
     <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
     <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
     {% endif %}
 </div>

<div >

<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-3">
        {% if student.gender == 'Male' %}
       <img src="{% static 'img/boy2.png' %}" class="rounded" alt="profile_picture" width="200" height="200" >
            {% elif 'Female' %}
       <img src="{% static 'img/girl2.png' %}" class="rounded" alt="profile_picture" width="200" height="200" >
            {% else %}
        <img src="{% static 'img/user.jpg' %}" class="rounded" alt="profile_picture" width="200" height="200" >
        {% endif %}
      <table class="table table-striped">
          <thead>
          <tr>
              <td></td>
              <td></td>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><b>First Name</b></td>
              <td>{{ student.first_name }}</td>
          </tr>
          <tr>
              <td><b>Middle Name</b></td>
             <td>{{ student.second_name }}</td>
          </tr>
          <tr>
              <td><b>Last Name</b></td>
              <td>{{ student.last_name }}</td>
          </tr>
          <tr>
              <td><b>Gender</b></td>
              <td>{{ student.gender }}</td>
          </tr>
          <tr>
              <td><b>Age</b></td>
              <td>{{ student.age }}</td>
          </tr>
          <tr>
              <td><b>Date of Birth</b></td>
              <td>{{ student.date_of_birth }}</td>
          </tr>
          <tr>
              <td><b>Email</b></td>
              <td>{{ student.email }}</td>
          </tr>
          </tbody>
      </table>
        <br>
       {% if user.is_student %}
        <a href="{% url 'classroom:student_update' pk=student.pk %}"  class="btn btn-primary btn-lg" role="button">Update</a>
       {% endif %}
    </div>
    <div class="col-md-7 col-md-offset-1" >
      <ul class="nav nav-tabs " >
        <li class="active"><a href="#profileTab" data-toggle="tab" >Profile</a></li>
        <li><a href="#attendanceTab" data-toggle="tab">Attendance</a></li>
        <li><a href="#academicsTab" data-toggle="tab">Academics</a></li>
        <li><a href="#careerTab" data-toggle="tab">Career Options</a></li>
        <li><a href="#personalityTab" data-toggle="tab">Personality Details</a> </li>
   </ul>
        <div class="tab-content">
        <!--PROFILE TAB -->
          <div id="profileTab" class="tab-pane fade in active">
              <br>
              <br>
              <div class="container">
                 <h2><b>Guardian Details</b></h2>
                  <table class="table table-bordered">
                      <tbody>
                       <tr class="info">
                          <td><b>First Name</b></td>
                          <td>{{ student.guardian_first_name }}</td>
                          <td><b> Last Name</b></td>
                          <td>{{ student.guardian_last_name }}</td>
                      </tr>
                      <tr class="info">
                          <td><b>Phone Number </b></td>
                          <td>{{ student.guardian_phone_number }}</td>
                          <td><b>Email</b></td>
                          <td>{{ student.guardian_email }}</td>
                      </tr>
                      <tr class="info">
                          <td><b>Relation </b></td>
                          <td>{{ student.guardian }}</td>
                          <td><b>Education Level</b></td>
                          <td>{{ student.guardian_education_level }}</td>
                      </tr>
                      </tbody>
                  </table>
              <br>
                   {% if user.is_student %}
                    <a href="{% url 'classroom:guardian_update' pk=student.pk %}"  class="btn btn-primary btn-lg" role="button">Update</a>
                  {% endif %}
              </div>
              <br>
              <br>
              <div class="container">
                 <h2><b>Other Details</b></h2>
                  <table class="table table-bordered">
                      <tbody>
                       <tr class="info">
                          <td><b>Extra Paid Classes</b></td>
                          <td>{{ student.extra_paid_classes }}</td>
                          <td><b>Internet Access for study </b></td>
                          <td>{{ student.internet_access }}</td>
                      </tr>
                      <tr class="info">
                          <td><b>Intend to pursue higher education </b></td>
                          <td>{{ student.intend_to_pursue }}</td>
                          <td><b>Free time after school</b></td>
                          <td>{{ student.free_time_after_school }} hrs</td>
                      </tr>
                      <tr class="info">
                          <td><b>Average weekly study time </b></td>
                          <td>{{ student.average_weekly_study_time }} hrs</td>
                          <td><b>Family size</b></td>
                          <td>{{ student.family_size }}</td>
                      </tr>
                      </tbody>
                  </table>
                  <br>
                   {% if user.is_student %}
                    <a href="{% url 'classroom:other_details_update' pk=student.pk %}"  class="btn btn-primary btn-lg" role="button">Update</a>
                  {% endif %}
              </div>
          </div>
        <br>
        <!-- ATTENDANCE PANEL-->
            <div id="attendanceTab" class="tab-pane fade">
             <table class="table table-striped">
                 <thead>
                 <tr>
                     <td><b>Day</b></td>
                     <td><b>Attendance Status</b></td>
                 </tr>
                 </thead>
                 <tbody>
                  {% for attendance_record in attendance_records %}
                      <tr>
                       <td>{{ attendance_record.day.day_title }}</td>
                          {% if attendance_record.attendance_status == True %}
                       <td><button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span></button></td>
                       {% else %}
                      <td><button class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span></button></td>
                      {% endif %}
                      </tr>
                  {% endfor %}
                 <tr><td><b>Overall attendance</b></td>
                     <td><b>{{ attendance_percentage }}&percnt;</b></td>
                 </tr>
                 </tbody>
             </table>

          </div>
        <!-- ACADEMICS PANEL   ACADEMICS PANEL   ACADEMICS PANEL   ACADEMICS PANEL   ACADEMICS PANEL   ACADEMICS PANEL  !!!!!-->
            <div id="academicsTab" class="tab-pane fade">
            {% if user.is_teacher == True %}
             <a href="{%  url 'classroom:record_test_result' pk=student.pk%}" role="button" class="btn btn-primary">Record Test Result</a>
            {% endif %}
                <br>
                <br>
                <div class="container">
                {% for subject in subjects %}
                    <div class="panel panel-default">
                     <div class="panel-heading">   <span class="badge badge-pill badge-primary"><b>{{ subject.subject_title }}</b></span></div>
                     <div class="panel-body">
                       <table class="table table-striped">
                   <thead>
                    <tr>
                        <td><b>Subject</b></td>
                        <td><b>Test</b></td>
                        <td><b>Mark</b></td>
                        <td><b> Total</b></td>
                        <td><b>&percnt;</b></td>
                        <td><b>Pass status</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                   </thead>
                     <tbody>
                      {% for test_result in test_results %}
                          {% if test_result.test.subject.subject_title == subject.subject_title %}
                                <tr>
                                 <td>{{ test_result.test.subject.subject_title }}</td>
                                 <td>{{ test_result.test.test_title }}</td>
                                 <td>{{ test_result.test_score }}</td>
                                 <td>{{ test_result.test.total_score }}</td>
                                 <td>{{ test_result.percentage }}</td>
                                 <td>{{ test_result.pass_status }}</td>
                                 <td><a href="{% url 'classroom:edit_test_result' pk=test_result.pk %}" class="btn btn-primary" role="button">Edit</a></td>
                                  <td><a href="{% url 'classroom:delete' pk=test_result.pk %}" class="btn btn-danger" role="button">Delete</a></td>
                                </tr>
                          {% endif %}
                      {% endfor%}
                     </tbody>
                       <tfoot>
                       <tr>
                           <td><a href="{% url 'classroom:bar_graphs' sub_pk=subject.pk student_pk=student.pk %}"><button class="btn btn-primary">Grapphs</button>
                    </a></td>
                       </tr></tfoot>
                 </table>
                     </div>
                    </div>
                {% endfor %}

    </div>
          </div>
        <!-- CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL CAREER PANEL!-->
            <div id="careerTab" class="tab-pane fade">

                {%  if student.has_taken_test %}
                    <ul class="list-group">
                    {% for career in first_careers %}
                 <li class="list-group-item ">
                 <table>
                     <thead>

                     </thead>
                     <tbody>
                     <tr>
                         <td><img src="{{ career.career_image.url }}" class="img-rounded"  height="100" width="150"></td>
                         <td>  <h2>{{ career.career_title }}</h2>
                      <h2>{{ career.career_description }}</h2></td>
                     </tr>
                     </tbody>
                 </table>
                 </li>
                     {% endfor %}
                         {% for career in second_careers %}
                 <li class="list-group-item ">
                 <table>
                     <thead>

                     </thead>
                     <tbody>
                     <tr>
                         <td colspan="2"><img src="{{ career.career_image.url }}" class="img-rounded"  height="100" width="150"></td>
                         <td>  <h2>{{ career.career_title }}</h2>
                      <h2>{{ career.career_description }}</h2></td>
                     </tr>
                     </tbody>
                 </table>
                 </li>
                     {% endfor %}
                    </ul>
                    {% else %}
                    <h1>PLEASE TAKE TEST</h1>
            {% endif %}
            <br>
                <a href="{% url 'classroom:career_list_view'  %}"  class="btn btn-primary btn-lg" role="button">Next</a>
          </div>
        <!-- PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL PERSONALITY PANEL !-->
            <div id="personalityTab" class="tab-pane fade">
            <div class="row">
            </div>
             <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
                <br>
                {% if student.has_taken_test == True %}
                      <div class="container container-fluid" id="personalityImage">
                      <div class="row">
                        <div class="col-md-6"><img src="{{ student.personality.image.url }}" class="img-rounded" ></div>
                          <div class="col-md-3">
                              <br>
                              <br>
                              <span class="badge badge-pill badge-secondary"><b>{{ student.personality.energy_title }}{{ student.personality.information_title }}{{ student.personality.decision_title }}{{ student.personality.life_title }}</b></span></div>
                      </div>

                </div>
                     <div class="col-md-6">{{ cht_fruits|safe }}
                     <br>
                         <div class="row">
                             <div class="col-md-2"></div>
                             <div class="col-md-8">
                             <button  data-toggle="modal" data-target="#methodModal" class=" btn btn-secondary btn-block" id="methodsButton"><b>Learning Styles</b></button>

                             </div>
                             <div class="col-md-2"></div>

                         </div>
                     </div>
                  {% comment %}  <table class="table">
                      <thead>
                     <tr><td></td></tr>
                     </thead>
                    <tbody>
                     <tr><td> <div class="card" ><div class="card-header bg-secondary">{{ student.personality.energy_title }}</div><div class="card-body"><p>{{ student.personality.energy_explanation }}</p>
                         <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.energy_description1}}</li>
                                       <li>{{ student.personality.energy_description2}}</li>
                                       <li>{{ student.personality.energy_description3}}</li>
                                       <li>{{ student.personality.energy_description4}}</li>
                                       <li>{{ student.personality.energy_description5}}</li>
                                   </ul>
                              </div>
                          </div>
                       </div>
                     </div>
                     </td>
                         <td><div class="card"><div class="card-header bg-secondary" >{{ student.personality.information_title }}</div><div class="card-body"><p>{{ student.personality.information_explanation }}</p>
                           <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.information_description1}}</li>
                                       <li>{{ student.personality.information_description2}}</li>
                                       <li>{{ student.personality.information_description3}}</li>
                                       <li>{{ student.personality.information_description4}}</li>
                                       <li>{{ student.personality.information_description5}}</li>
                              </ul>
                              </div>
                          </div>
                         </div>
                             </div>
                           </td>
                     </tr>
                     <tr>
                         <td> <div class="card"><div class="card-header bg-secondary">{{ student.personality.decision_title }}</div><div class="card-body"><p>{{ student.personality.decision_explanation }}</p>
                          <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                  <li>{{ student.personality.decision_description1 }}</li>
                                  <li>{{ student.personality.decision_description2 }}</li>
                                  <li>{{ student.personality.decision_description3 }}</li>
                                  <li>{{ student.personality.decision_description4}}</li>
                                  <li>{{ student.personality.decision_description5 }}</li>
                              </ul>
                              </div>
                          </div>
                         </div>
                         </div>
                         </td>
                         <td> <div class="card"><div class="card-header bg-secondary">{{ student.personality.life_title }}</div><div class="card-body"><p>{{ student.personality.life_explanation }}</p>
                             <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.life_description1}}</li>
                                       <li>{{ student.personality.life_description2}}</li>
                                       <li>{{ student.personality.life_description3}}</li>
                                       <li>{{ student.personality.life_description4}}</li>
                                       <li>{{ student.personality.life_description5}}</li>
                                   </ul>
                              </div>
                          </div>
                         </div>
                         </div>
                         </td>
                     </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button  data-toggle="modal" data-target="#methodModal" class=" btn btn-secondary btn-block" id="methodsButton"><b>Learning Styles</b></button>

                        </td>
                    </tr>
                    </tfoot>
                    </table>{% endcomment %}
                    <!-- teaching methods modal !-->
                    <div class="modal " id="methodModal">
                          <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title"><b>{{ student.personality.personality_name }}</b></div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                 <table class="table">
                      <thead>
                     <tr><td></td></tr>
                     </thead>
                    <tbody>
                     <tr><td> <div class="card" ><div class="card-header bg-secondary">{{ student.personality.energy_title }}</div><div class="card-body"><p>{{ student.personality.energy_explanation }}</p>
                         <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.energy_description1}}</li>
                                       <li>{{ student.personality.energy_description2}}</li>
                                       <li>{{ student.personality.energy_description3}}</li>
                                       <li>{{ student.personality.energy_description4}}</li>
                                       <li>{{ student.personality.energy_description5}}</li>
                                   </ul>
                              </div>
                          </div>
                       </div>
                     </div>
                     </td>
                         <td><div class="card"><div class="card-header bg-secondary" >{{ student.personality.information_title }}</div><div class="card-body"><p>{{ student.personality.information_explanation }}</p>
                           <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.information_description1}}</li>
                                       <li>{{ student.personality.information_description2}}</li>
                                       <li>{{ student.personality.information_description3}}</li>
                                       <li>{{ student.personality.information_description4}}</li>
                                       <li>{{ student.personality.information_description5}}</li>
                              </ul>
                              </div>
                          </div>
                         </div>
                             </div>
                           </td>
                     </tr>
                     <tr>
                         <td> <div class="card"><div class="card-header bg-secondary">{{ student.personality.decision_title }}</div><div class="card-body"><p>{{ student.personality.decision_explanation }}</p>
                          <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                  <li>{{ student.personality.decision_description1 }}</li>
                                  <li>{{ student.personality.decision_description2 }}</li>
                                  <li>{{ student.personality.decision_description3 }}</li>
                                  <li>{{ student.personality.decision_description4}}</li>
                                  <li>{{ student.personality.decision_description5 }}</li>
                              </ul>
                              </div>
                          </div>
                         </div>
                         </div>
                         </td>
                         <td> <div class="card"><div class="card-header bg-secondary">{{ student.personality.life_title }}</div><div class="card-body"><p>{{ student.personality.life_explanation }}</p>
                             <div class="row">
                              <div class="col-md-9 col-md-offset-1">
                                   <ul class="list-group" id="decision_description">
                                       <li>{{ student.personality.life_description1}}</li>
                                       <li>{{ student.personality.life_description2}}</li>
                                       <li>{{ student.personality.life_description3}}</li>
                                       <li>{{ student.personality.life_description4}}</li>
                                       <li>{{ student.personality.life_description5}}</li>
                                   </ul>
                              </div>
                          </div>
                         </div>
                         </div>
                         </td>
                     </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button  data-toggle="modal" data-target="#methodModal" class=" btn btn-secondary btn-block" id="methodsButton"><b>Learning Styles</b></button>

                        </td>
                    </tr>
                    </tfoot>
                    </table>
                            </div>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                        </div>
                    </div>
                    </div>

                 {% else %}
                    <div class="container container-fluid">
                    <img src="{% static 'img/briggs.jpg' %}" class="img-rounded" width="800px" height="300px">
                </div>
                <br>
                <div class="container container-fluid">
                    <p class="p">
                        One way to better understand your personality is to take a personality test. The test you will take is an open-source test that was developed to support education at no cost.
                        It is based on Myer-Briggs Type Indicator (MBTI).Take our free personality test and discover what really drives you. See your Personality Type instantly after the test!
                    </p>
                    <p class="p">
                      <b>Guidelines:</b>
                        <ul class="ul">
                        <li>Choose the answer that best describes you. Your gut reaction is often the correct choice.</li>
                        <li>Don’t pick an answer because it’s what you think society would want. Be true to yourself.</li>
                        <li>Be as honest as possible, even if you don’t like the answer.</li>
                       </ul>
                    </p>
                </div>
                <div >
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"> <a href="{% url 'classroom:personality_test' %}" role="button" class="btn btn-block" id="personality_test"  >Take test</a></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                {% endif %}
          </div>
        </div>
    </div>
</div>
</div>
</body>
</html>