{% load staticfiles %}
<html lang="en">
<head>
  <title>Blaze</title>
   <link rel="icon" href="{% static 'img/favicon.png' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'jquery-3.3.1.js' %}"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
    .well{
    background: darkblue;
    color: white;
}
 #student {
  background: #8980a5;
 }
 #attendance{
     background: #8980a5;
 }
 #subjects{
     background: #8980a5;
 }
 #graphs{
     background: #8980a5 ;
 }
  #studentList{
      width: 100%;
  }
  </style>
    <script type="javascript">
   $('#studentList').dataTable();
    </script>
</head>
<body>
 <div class="col-6 text-right">
     {% if user.is_authenticated %}
     <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
     {% else %}
     <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
     <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
     {% endif %}
 </div>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-9">
      <div class="row">
          <div class="col-sm-3">
          <div class="well " id="student">
            <span class="glyphicon glyphicon-user"></span>
            <h4>Students</h4>
            <p>{{ total_students }} </p>
          </div>
        </div>
        <a href="{% url 'classroom:teacher_subjects' %}">
        <div class="col-sm-3">
          <div class="well" id="subjects">
             <span class="glyphicon glyphicon-book "></span>
            <h4>Subjects</h4>
            <p>{{ total_subjects }} </p>
          </div>
        </div>
         </a>
          <a href="{% url 'classroom:attendance_days' %}">
        <div class="col-sm-3">
          <div class="well" id="attendance">
              <span class="glyphicon glyphicon-edit"></span>
            <h4>Attendance</h4>
              <p> {{ total_days }} days</p>
          </div>
        </div>
         </a>
        <div class="col-sm-3">
          <div class="well" id="graphs">
              <span class="glyphicon glyphicon-equalizer"></span>
            <h4>Performance graphs</h4>
            <p>30%</p>
          </div>
        </div>
      </div>
     <div class="row">
    <div class="col-md-4">
        <img src="{% static 'img/girl2.png' %}" class="rounded" alt="profile_picture" width="200" height="200" >
      <table class="table table-striped">
          <thead>
          <tr>
              <td></td>
              <td></td>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><b>First Name</b></td>
              <td>{{ teacher.first_name }}</td>
          </tr>
          <tr>
              <td><b>Last Name</b></td>
              <td>{{ teacher.last_name }}</td>
          </tr>
          <tr>
              <td><b>Phone Number</b></td>
              <td>{{ teacher.phone_number }}</td>
          </tr>
          <tr>
              <td><b>Email</b></td>
              <td>{{ teacher.email }}</td>
          </tr>
          </tbody>
      </table>
    </div>
         <div class="col-md-8 ">
             <br>
             <br>
             <br>
             <br>
          <table class="table table-striped table-bordered" id="studentList" style="width:100%">
              <thead>
               <tr><td>First Name</td><td>Middle Name</td><td>Last Name</td><td>Email</td><td></td></tr>
              </thead>
              <tbody>
                 {% for student in students %}
                  <tr>
                      <td>{{ student.first_name }}</td>
                      <td>{{ student.second_name }}</td>
                      <td>{{ student.last_name }}</td>
                      <td>{{ student.email }}</td>
                    <td><a href="{% url 'students:student_detail' pk=student.pk %}" ><button type="submit" name="student_pk" value="{{ student.pk }}" class="btn btn-primary">View</button></a></td>
                  </tr>
                 {% endfor %}

              </tbody>
          <tfoot></tfoot>
          </table>
         </div>
  </div>
      </div>
    </div>
</div>
<script>
   $(document).ready( function () {
    $('#studentList').DataTable();
} );
</script>


</body>
</html>
