{% extends 'base.html' %}
{% load static %}
{% block content %}
      <table class="table table-striped table-bordered" id="studentList" style="width:100%">
              <thead>
              <tr><td><b>Subject</b></td><td><b>Tests</b></td><td></td></tr>
              </thead>
              <tbody>
                 {% for subject in subjects %}
                  <tr>
                      <td>{{ subject.subject_title }}</td>
                      <td>{{ subject.number_of_tests }}</td>
                      <td><a href="{% url 'classroom:subject_tests' pk=subject.pk %}"><button class="btn btn-block btn-success" ><b>View</b></button></a></td>
                   </tr>
                 {% endfor %}

              </tbody>
          <tfoot></tfoot>
          </table>
{% endblock %}