{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-1">
       <div id="imageCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
           <div class="carousel-inner">
              <div class="item active">
                  <img src="{% static 'img/EDUCATION4.jpg' %}" class="img-responsive" width="600px" height="700px"/>
              </div>
               <div class="item ">
                  <img src="{% static 'img/EDUCATION2.jpg' %}" class="img-responsive" width="600px" height="700px"/>
              </div>
           </div>
       </div>
    </div>
</div>
</div>
{% endblock %}
